# Core Framework
fastapi==0.115.0
uvicorn[standard]==0.35.0
pydantic==2.11.7
pydantic-settings==2.10.1

# Email validation
email-validator==2.3.0

# Database
motor==3.7.1
pymongo==4.14.1

# Environment
python-dotenv==1.1.1
python-multipart==0.0.20

# Security
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
bcrypt==4.3.0

# Data Processing
pandas==2.3.2
numpy==2.3.2

# Machine Learning
scikit-learn==1.7.1
statsmodels==0.14.5
prophet==1.1.7
joblib==1.5.2

# Logging
python-json-logger==3.3.0